{# component/_navbar.html.twig #}
<div class="navbar">
    <ul>
        <li><h3>Navigation</h3></li>
        <li>Accueil</li>
        <li>Contact</li>
        <li>Plus d'informations</li>
    </ul>
</div>
